* {
  box-sizing: border-box;
  margin: 0%;
  padding: 0%;
}
body {
  font-family: "Ubantu", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
  text-align: center;
}
.output {
  text-align: center;
  padding: 1rem;
  height: 3rem;
  width: 20rem;
  background-color: rgba(176, 196, 222, 0.445);
}
button {
  height: 2rem;
  width: 3rem;
}
.grid {
  display: grid;
  grid-template-columns: auto auto auto;
}
