@import url("https://fonts.googleapis.com/css?family=Lato&display=swap");

* {
  box-sizing: border-box;
  margin: 0%;
  padding: 0%;
}
body {
  font-family: "Lato", sans-serif;
  background-color: black;
  color: black;
  overflow-x: hidden;
  margin: 0;
  padding: 0%;
  border: 0;
}
.container {
  background-color: whitesmoke;
  transform-origin: top left;
  transition: transform 0.5s linear;
  transition-delay: 200ms;
  width: 100vw;
  min-height: 100vh;
  padding: 3rem;
}
.container.show-nav {
  transform: rotate(-20deg);
}
img {
  max-width: 100%;
}
.circle-container {
  position: fixed;
  top: -6rem;
  left: -6rem;
}
.circle {
  background-color: tomato;
  height: 11rem;
  width: 11rem;
  border-radius: 50%;
  position: relative;
  transition: transform 0.5s linear;
}
.circle button {
  padding: 0.3rem;
  cursor: pointer;
  position: absolute;
  top: 50%;
  left: 60%;
  color: aliceblue;
  height: 5rem;
  background: transparent;
  border: 0;
  font-size: 1.7rem;
}
.circle button:focus {
  outline: none;
}
.circle button#open {
  left: 60%;
}

.circle button#close {
  left: -60%;
  transform: rotate(90deg);
}
