@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

* {
  box-sizing: border-box;
  padding: 0%;
}
body {
  font-family: "Lato", sans-serif;
  background-color: #8d9dad;
  color: rgb(0, 0, 0);
  overflow-x: hidden;
  padding: 0%;
  border: 0;
  margin: 0px;
}
.container {
  background-color: whitesmoke;
  transform-origin: top left;
  transition: transform 0.5s linear;
  transition-delay: 200ms;
  width: 100vw;
  min-height: 100vh;
  padding: 3rem;
}
.container.show-nav {
  transform: rotate(-20deg);
}
img {
  max-width: 100%;
}
.circle-container {
  position: fixed;
  top: -6rem;
  left: -6rem;
}
.circle {
  background-color: #9c1f1d;
  height: 11rem;
  width: 11rem;
  border-radius: 50%;
  position: relative;
  transition: transform 0.5s linear;
}
.circle button {
  padding: 0.3rem;
  cursor: pointer;
  position: absolute;
  top: 50%;
  left: 60%;
  color: aliceblue;
  height: 5rem;
  background: transparent;
  border: 0;
  font-size: 1.7rem;
}
.circle button:focus {
  outline: none;
}
.circle button#open {
  left: 60%;
}

.circle button#close {
  left: -60%;
  transform: rotate(90deg);
}
.container.show-nav + nav li {
  transform: translateX(0);
  transition-delay: 0.3s;
}
nav {
  position: fixed;
  bottom: 3rem;
  left: 0;
  z-index: -100;
}
nav ul {
  list-style-type: none;
  padding-left: 3rem;
}
nav ul li {
  text-transform: uppercase;
  color: whitesmoke;
  margin: 30px 0;
  transform: translateX(-100%);
  transition: transform 0.4s ease-in;
}
nav ul li + li {
  margin-left: 1rem;
  transform: translateX(-150%);
}
nav ul li + li + li {
  margin-left: 2rem;
  transform: translateX(-200%);
}
i {
  font-size: 20px;
  margin-right: 10px;
}
.fas {
  margin-right: 10px;
}
.content {
  max-width: 1000px;
  margin: 50px auto;
}
.content h1 {
  margin: 0%;
}
.content small {
  color: rgb(0, 77, 77);
  font-style: italic;
}
.content p {
  color: #333;
  line-height: 1.5;
}
