@import url("https://fonts.googleapis.com/css?family=Ubantu&display=swap");

* {
  box-sizing: border-box;
  margin: 0%;
  padding: 0%;
}
body {
  font-family: "Ubantu", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}
.bg {
  background: url(./sora-sagano-z81fCikflf0-unsplash.jpg) no-repeat center
    center/cover;
  position: absolute;
  top: -50px;
  left: -50px;
  width: calc(100vw + 100px);
  height: calc(100vh + 100px);
  z-index: -1;
  filter: blur(70px);
}

.loading-text {
  font-size: xx-large;
  font-weight: 600;
  color: black;
  letter-spacing: 3px;
}
